@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: black;
  color: black;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  box-shadow: 0 0 0px 1000px transparent inset;
  -moz-text-fill-color: black;
  color: black;
} */

body {
  @apply bg-[#0D0D0D] text-[#7D7D7D];
}
